* {
    margin: 0px;
    padding: 0px;
    /* direction: rtl; */
}

body {
    color: #444;
}

/* Hello I'm - profile picture */
.portfolio-picture {
    height: 300px;
    border-radius: 50%;
    border: 15px solid #d8d8d8;
    outline: 15px solid #efefef;
    margin: 15px 0px;
}

.portfolio-hello {
    display: inline;
    background-color: #3ad6be;
    border-radius: 15px 15px 15px 0;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 6px 25px;
    font-weight: bold;
}

.portfolio-name {
    font-size: 50px;
    font-weight: bold;
}

.portfolio-role {
    font-size: 24px; 
}

.social-link {
    text-decoration: none;
    color: black;
}

/* About Me */
.technology-item {
    border: 1px solid #4edcc2;
}

.general-button {
    background-color: #3ad6be;
    border-radius: 1000px;
    color: white;
    text-decoration: none;
}

/* What I Do */
.icon-cards {
    font-size: 30px;
}

.icon-uidesign {
    color: purple;
}

.icon-webdev {
    color: orange;
}

.icon-appdev {
    color: royalblue;
}

/* Technical Skills */
.technical-skill-name, .technical-skill-progress {
    font-size: 14px;
}

.technical-skill-progress {
    font-weight: normal
}

.technical-skill-progress-bar-wrapper {
    background-color: #999;
    height: 7px; 
}

.technical-skill-progress-bar {
    background-color: #3ad6be;
    border-radius: 0 5px 5px 0;
}

.technical-skill-progress-bar-javascript {
    width: 86%;
    height: 7px;
}

.technical-skill-progress-bar-java {
    width: 46%;
}

.technical-skill-progress-bar-python {
    width: 38%;
}

.technical-skill-progress-bar-php {
    width: 17%;
}

/* Professional Skills */


/* Pricing Table */
.pricing-icon {
    font-size: 30px;
    color: #3ad6be;
}

.pricing-title {
    font-size: 20px;
}

.pricing-availability {
    font-size: 12px;
    font-weight: normal;
}

.pricing-price {
    font-size: 30px;
    color: #3ad6be;
    font-weight: bold;
}

.pricing-field {
    font-size: 14px;
}


/* Client Reviews */
.client-img {
    border: 5px solid #3ad6be;
    border-radius: 50%;
}

.client-name {
    font-size: 14px;
    font-weight: bold;
}

.client-title {
    font-size: 14px;
}

/* Contact Me */
.contact-me-icon {
    line-height: 50px;
    padding: 30px 33px;
    border: 2px solid #3ad6be;
    border-radius: 100%;
}

.contact-info {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}

/* Navbar */
.active {
    border-bottom: 1px solid black;
}

.colored-active {
    border-color: #3ad6be;
}

/* Education & Work Experience */
.education-experience-title {
    font-size: 24px;
}

.green-text {
    color: #3ad6be;
}

.education-name {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}

.experience-name {
    font-weight: bold;
    font-size: 24px;   
}

.education-experience-date {
    font-size: 14px;
}

.remove-border {
    border: 0px;
}

/* Posts */
.post-title {
    color: #777;
    font-weight: 600;
    font-size: 25px;
}

.post-read-more {
    color: #3ad6be;
    text-decoration: none;
    font-weight:500;
}

/* Form */
.send-message-button {
    width: 100%;
    padding: 5px 0px;
    border: none;
    font-weight: bold;
}

/* Footer */
.footer-rights {
    font-size: 14px;
    font-weight: normal;
}

/* Google Map */
.google-map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.google-map-wrapper iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}